<div class="col-sm-9">
    <div>
        <h2> Recipe Index </h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#all-tab">All Recipes</a></li>
            <li><a data-toggle="tab" href="#categories-tab">Categories</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="categories-tab" class="tab-pane fade">

        {{#each foundPosts}}
            <div class="row">

                <h2 class="col-sm-12">{{this.category}}</h2>
  
                {{#each this.postsCropped}}
                    <div class="col-sm-3 text-center">
                        <a href="/post-editor/viewPost/{{ this._id }}" class="col-sm-12">
                            {{#if this.primaryPhoto}}
                                <img class="img-responsive img-thumbnail" src="/assets/images/{{this.primaryPhoto}}">
                            {{/if}}
                        <h4>{{this.title}}</h4>
                        </a>
                        <p class="col-sm-12 small">{{this.updated}}</p>
                        <a href="/post-editor/viewPost/{{ this._id }}" class="btn btn-sm btn-default col-sm-6">View <span class="icon-preview-1"></span></a>
                        <a href="/post-editor/deletePost/{{ this._id }}" class="btn btn-sm btn-danger col-sm-6">Delete <span class="icon-bin-2"></span></a>
                    </div>
                {{/each}}

                <div class="col-sm-3">
                    <a href="/post-editor/viewCategory/{{this._id}}">
                        <h3>More <span class="icon-arrow-68"></span></h3>
                    </a>
                </div>
            </div>
        {{/each}}

        </div>
        <div id="all-tab" class="tab-pane fade in active">

            {{#each pagiResults}}

                    <div class="row text-left">
                        <div class="col-sm-6">
                            <a href="/post-editor/viewPost/{{ this._id }}" class=""><h4>{{this.title}}</h4></a>
                            <p class="small">{{this.updated}}</p>
                        </div>
                        <div class="col-sm-3">
                            <br/>
                            <a href="/post-editor/viewPost/{{ this._id }}" class="btn btn-sm btn-default col-sm-6">View <span class="icon-preview-1"></span></a>
                            <a href="/post-editor/deletePost/{{ this._id }}" class="btn btn-sm btn-danger col-sm-6">Delete <span class="icon-bin-2"></span></a>
                        </div>
                    </div>

            {{/each}}

            <ul class="pagination text-center row">

                    {{#times pages}}
                        <li><a href="/post-editor?p={{this}}">{{this}}</a></li>
                    {{/times}}
                        
            </ul>

        </div>

    </div>

</div>