<div class="col-sm-8">
    <div>
        <h2> Recipe Index </h2>
    </div>

    {{#each foundPosts }}

        <article>
            <h3>{{ this.title }}</h3>
            <p class="small">{{this.updated}}</p>
            <div id="{{ this._id }}" class="collapse">
                <p>{{ this.body }}</p>
            </div>
            <div>
                <button data-toggle="collapse" data-target="#{{ this._id }}" class="btn btn-default">
                    <span class="icon-arrow-37"></span>
                </button>
                <a href="/post-editor/viewPost/{{ this._id }}" class="btn btn-default">View <span class="icon-preview-1"></span></a>
                <a href="/post-editor/deletePost/{{ this._id }}" class="btn btn-danger">Delete <span class="icon-bin-2"></span></a>
            </div>
        </article>

    {{/each}}
</div>