<div class="col-sm-12">
    <article>
        <p class="small">{{foundPost.created}}</p>
        <h2>{{ foundPost.title }}</h2>
        <p>{{ foundPost.body }}</p>

        {{#if foundPost.ingredientList}}
        <h3>Ingredients</h3>
            <div>
                {{#each foundPost.ingredientList}}
                    <ul>
                        <li>
                            <p style="display: inline-block">{{this.name}}</p>
                            <p style="display: inline-block">{{this.quantity}}</p>
                            <p style="display: inline-block">{{this.unit}}</p></li>
                    </ul>
                {{/each}}
            </div>
        {{/if}}

        {{#if foundPost.instructions}}
            <h3>Instructions</h3>
            <div>
                <ol>
                    {{#each foundPost.instructions}}
                        <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>
        {{/if}}

        <div>
            <a href="/post-editor/editPost/{{foundPost._id}}" class="btn btn-default">Edit <span class="icon-edit-1"></span></a>
            <a href="/post-editor/deletePost/{{foundPost._id}}" class="btn btn-danger">Delete <span class="icon-bin-2"></span></a>
        </div>
    </article>
</div>