<div class="col-sm-12">
    <article>
        <p class="small">{{foundPost.created}}</p>
        <h2>{{ foundPost.title }}</h2>
        <p>{{ foundPost.body }}</p>
        <div>
            <a href="/post-editor/editPost/{{foundPost._id}}" class="btn btn-default">Edit <span class="icon-edit-1"></span></a>
            <a href="/post-editor/deletePost/{{foundPost._id}}" class="btn btn-danger">Delete <span class="icon-bin-2"></span></a>
        </div>
    </article>
</div>