<div class="col-sm-8">
    <div>
        <h2> Recipe Index </h2>
    </div>

    {{#each foundPosts}}

        <article>
            <h3>{{this.title}}</h3>
            <p>{{this.body}}</p>
            <div class="pull-right">
                <a href="/post-editor/viewPost/{{this._id}}" class="btn btn-primary">View</a>
                <a href="/post-editor/editPost/{{this._id}}" class="btn btn-default">Edit</a>
                <a href="/post-editor/deletePost/{{this._id}}" class="btn btn-default">Delete</a>
            </div>
        </article>

    {{/each}}
</div>