<!-- Form partial --> 

<div class="col-sm-12">
    {{#if failed}}
        <div class="alert alert-danger">
            <h4>Ooops! please check: </h4>
            {{#if errors.title}}<span>* Title missing.</span>{{/if}}
            {{#if errors.category}}<span>* No category selected.</span>{{/if}}
            {{#if errors.body}}<span>* Description missing.</span>{{/if}}
        </div>
    {{/if}}

    <div id="post-form" class="row">
        <form method="POST" action="" class="form-group col-sm-8">

        <div class="panel panel-default col-sm-12">

            {{#if prefill}}
                <h2 class="panel-heading">
                    {{prefill.title}}
                </h2>
            {{/if}}
            <div>

            <!-- TITLE & DESCRIPTION EDIT SECTION -->
            {{#if createRecipe}}
                <div class="panel-heading">
                    <h3>
                        New Recipe
                    </h3>
                </div>
            {{/if}}

                <div class="form-group {{#if errors.title}}has-error{{/if}}">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control" value="{{#if prefill}}{{prefill.title}}{{/if}}"/>
                </div>

                <div class="form-group {{#if errors.body}}has-error{{/if}}">
                    <label for="body">Description:</label>
                    <textarea type="text" name="body" class="form-control" rows="8">{{#if prefill}}{{prefill.body}}{{/if}}</textarea>
                </div>
            </div>

            <div>

            <!-- CATERGORIES EDIT SECTION -->

                <div class="form-group">
                    <div class="alert {{#if errors.category}}alert-danger{{/if}}">
                        Baking Categories 
                        {{#if errors.category}}<span class="icon-arrow-37 pull-right"></span>{{/if}}
                    </div>
                    <div id="category-checkbox" class="">

                        {{#each categories}}

                        <div class="form-group">
                            <label for="{{this.category}}">{{this.category}}</label>
                            <input class="checkbox-inline" {{#if this.isChecked}}checked="true"{{/if}} type="checkbox" name="category[]" value="{{this._id}}"></br>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div> 
        </div>

          {{#if isEditPost}}

            <!-- INSTRUCTIONS EDIT SECTION -->

                <div id="instructions-form" class="form-group panel panel-default col-sm-12">
                    <h3 class="panel-heading">Instructions</h3>
                    <ol class="panel-body">

                        {{#if prefill.instructions}}
                            {{#each prefill.instructions}}
                                <li>
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="instructions[]" value="{{this}}" required/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-danger remove-step-btn"><span class="icon-bin-2"></span></button>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        {{/if}}

                    </ol>
                    <div class="panel-footer">
                        <button id="add-step-btn" class="btn btn-primary">Add Step <span class="icon-add-1"></span></button>
                    </div>
                </div>
        {{/if}}

        

        {{#if isEditPost}}

            <!-- IMAGE EDIT SECTION -->

                <div class="img-form panel panel-default col-sm-12">
                    <h3 class="panel-heading">Images</h3>
                    <div class="row panel-body">
                        <div class="col-sm-7">

                        <div id="primary-photo-wrapper">
                            <!-- PRIMARY PHOTO -->
                            {{#if prefill.primaryPhoto}}
                                
                                <div class="form-group">
                                    <img class="img-responsive img-thumbnail" src="/assets/images/{{prefill.primaryPhoto}}">
                                    <label class="control-label">Primary Photo:</label>
                                    <div class="input-group">
                                        <select id="primary-photo-select" class="form-control" name="primaryPhoto">
                                        <option value="{{prefill.primaryPhoto}}" selected>{{prefill.primaryPhoto}}</option>
                                            {{#each prefill.imageFiles}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-danger delete-img-btn"><span class="icon-bin-2"></span></button>
                                        </div>
                                    </div>
                                </div>

                            {{/if}}
                            {{#if prefill.primaryPhoto}}

                            {{else}}
                                <button class="btn btn-primary btn-photo-primary">Add Primary Photo <span class="icon-add-1"></button>
                                
                            {{/if}}
                        </div>
                        <br/>

                        <div id="secondary-photo-wrapper">
                            <!-- SECONDARY PHOTO -->
                            {{#if prefill.secondaryPhoto}}
                                
                                <div class="form-group">
                                    <img class="img-responsive img-thumbnail" src="/assets/images/{{prefill.secondaryPhoto}}">
                                    <label class="control-label">Secondary Photo:</label>
                                    <div class="input-group">
                                        <select id="secondary-photo-select" class="form-control" name="secondaryPhoto">
                                        <option value="{{prefill.secondaryPhoto}}" selected>{{prefill.secondaryPhoto}}</option>
                                            {{#each prefill.imageFiles}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-danger delete-img-btn"><span class="icon-bin-2"></span></button>
                                        </div>
                                    </div>
                                </div>

                            {{/if}}
                            {{#if prefill.secondaryPhoto}}

                            {{else}}
                                <button class="btn btn-primary btn-photo-secondary">Add Secondary Photo <span class="icon-add-1"></button>
                            {{/if}}
                        </div>

                        </br>

                        <div id="extra-photo-wrapper">
                            <!-- EXTRA PHOTO -->
                            {{#if prefill.extraPhoto}}
                                
                                <div class="form-group">
                                    <img class="img-responsive img-thumbnail" src="/assets/images/{{prefill.extraPhoto}}">
                                    <label class="control-label">Extra Photo:</label>
                                    <div class="input-group">
                                        <select id="extra-photo-select" class="form-control" name="extraPhoto">
                                        <option value="{{prefill.extraPhoto}}" selected>{{prefill.extraPhoto}}</option>
                                            {{#each prefill.imageFiles}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-danger delete-img-btn"><span class="icon-bin-2"></span></button>
                                        </div>
                                    </div>
                                </div>

                            {{/if}}
                            {{#if prefill.extraPhoto}}

                            {{else}}
                                <button class="btn btn-primary btn-photo-extra">Add Extra Photo <span class="icon-add-1"></button>
                            {{/if}}
                        </div>

                        </div>

                    </div>
                </div>
            {{/if}}



            <div>

                <!-- BUTTONS SECTION -->

                <br />
                <input type="submit" value="Submit" class="btn btn-success pull-left"/>

                {{#if isEditPost}}
                    <a href="/post-editor/viewPost/{{postId}}" class="btn btn-default"> Back </a>
                {{else}}
                    <a href="/post-editor" class="btn btn-danger"> Cancel </a>
                {{/if}}
            </div>
        </form>

            {{#if isEditPost}}

            <!-- INGREDIENTS EDIT SECTION -->

                <div class="col-sm-4 panel panel-default">
                    <h3 class="panel-heading">Ingredients</h3>
                        <div class="panel-body">
                            <ul id="ingredient-list">

                                {{#each prefill.ingredientList}}
                                    <li data-id="{{this._id}}" class="ingre-li">
                                        <p style="display: inline-block">{{this.name}} {{this.quantity}} {{this.unit}}</p>
                                        <button class="btn btn-danger btn-sm del-btn" data-id="{{this._id}}"><span class="icon-bin-2"></span></button>
                                        <button class="btn btn-default btn-sm edit-btn" data-id="{{this._id}}"><span class="icon-edit-1"></span></button>
                                    </li>
                                {{/each}}

                            </ul>
                            <div id="sub-form-ingre" class="form-group" data-id="{{postId}}">
                                <label>Name: </label>
                                <input id="input-ingre-name" type="text" class="form-control" name="ingredient[]">
                                <label>Quantity: </label>
                                <input id="input-ingre-quantity" type="number" class="input-sm" name="ingredient[]">
                                <select id="input-ingre-unit" name="ingredient[]">
                                    <option value="grams">g</option>
                                    <option value="kilograms">kg</option>
                                    <option value="mililitres">ml</option>
                                </select>
                                <br/><br/>

                                <div class="panel-footer">
                                    <button id="add-ingre-btn" class="btn btn-primary">Add Ingredient <span class="icon-add-1"></span></button>
                                </div>
                            </div>
                        </div>

                </div>
            {{/if}}

    </div>
</div>
