<!-- Form partial --> 

<div class="col-sm-12">
    {{#if failed}}
        <div class="alert alert-danger">
            <h4>Ooops! please check: </h4>
            {{#if errors.title}}<span>* Title missing.</span>{{/if}}
            {{#if errors.category}}<span>* No category selected.</span>{{/if}}
            {{#if errors.body}}<span>* Description missing.</span>{{/if}}
        </div>
    {{/if}}

    <div id="post-form" class="row">
        <form method="POST" action="" class="form-group">

            <div class="col-sm-9">
                <div class="form-group {{#if errors.title}}has-error{{/if}}">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control" value="{{#if prefill}}{{prefill.title}}{{/if}}"/>
                </div>

                <div class="form-group {{#if errors.body}}has-error{{/if}}">
                    <label for="body">Description:</label>
                    <textarea type="text" name="body" class="form-control">{{#if prefill}}{{prefill.body}}{{/if}}</textarea>
                </div>
            </div>

            <aside class="col-sm-3">
                <div class="form-group">
                    <div class="alert {{#if errors.category}}alert-danger{{/if}}">
                        Baking Categories 
                        {{#if errors.category}}<span class="icon-arrow-37 pull-right"></span>{{/if}}
                    </div>
                    <div id="category-checkbox" class="">

                        {{#each categories}}

                            <label for="{{this.category}}">{{this.category}}</label>
                            <input {{#if this.isChecked}}checked="true"{{/if}} type="checkbox" name="category[]" value="{{this._id}}"></br>

                        {{/each}}

                    </div>
                </div>
            </aside> 

            <div class="col-sm-12">
                <br />
                <input type="submit" value="Submit" class="btn btn-primary pull-left"/>

                {{#if isEditPost}}
                    <a href="/post-editor/viewPost/{{postId}}" class="btn btn-danger"> Cancel </a>
                {{else}}
                    <a href="/post-editor" class="btn btn-danger"> Cancel </a>
                {{/if}}
            </div>
        </form>
            {{#if isEditPost}}
                <div class="col-sm-6">
                    <h3>Ingredients</h3>
                        <ul id="ingredient-list">

                            {{#each prefill.ingreList}}
                                <li data-id="{{this._id}}" class="ingre-li">
                                    <p style="display: inline-block">{{this.name}} {{this.quantity}} {{this.unit}}</p>
                                    <button class="btn btn-danger btn-sm del-btn" data-id="{{this._id}}"><span class="icon-bin-2"></span></button>
                                </li>
                            {{/each}}

                        </ul>
                        <div id="sub-form-ingre" class="form-group" data-id="{{postId}}">
                            <label>Name: </label>
                            <input id="input-ingre-name" type="text" class="form-control" name="ingredient[]">
                            <label>Quantity: </label>
                            <input id="input-ingre-quantity" type="number" class="input-sm" name="ingredient[]">
                            <select id="input-ingre-unit" name="ingredient[]">
                                <option value="grams">g</option>
                                <option value="kilograms">kg</option>
                                <option value="mililitres">ml</option>
                            </select>
                        </div>
                    <button id="add-ingre-btn" class="btn btn-primary">Add <span class="icon-add-1"></span></button>
                    <br />
                </div>
            {{/if}}
    </div>
</div>
