<!-- Form partial --> 
<div class="col-sm-12">
    <a href="/post-editor" class="btn btn-link">
        <span class="icon-arrow-39"> Back </span>
    </a>
</div>
<div class="col-sm-12">
    {{#if failed}}
        <div class="alert alert-danger">
            <h4>Ooops! please check: </h4>
            {{#if errors.title}}<span>* Title missing.</span>{{/if}}
            {{#if errors.category}}<span>* No category selected.</span>{{/if}}
            {{#if errors.body}}<span>* Description missing.</span>{{/if}}
        </div>
    {{/if}}

    <div id="create-post" class="row">
        <form method="POST" action="" class="form-group">

            <div class="col-sm-9">
                <div class="form-group {{#if errors.title}}has-error{{/if}}">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control" value="{{#if prefill}}{{prefill.title}}{{/if}}"/>
                </div>

                <div class="form-group {{#if errors.body}}has-error{{/if}}">
                    <label for="body">Description:</label>
                    <textarea type="text" name="body" class="form-control">{{#if prefill}}{{prefill.body}}{{/if}}</textarea>
                </div>

                <br /><input type="submit" value="Submit" class="btn btn-primary pull-left"/>
            </div>   

            <aside class="col-sm-3">
                <div class="form-group">
                    <div class="alert {{#if errors.category}}alert-danger{{/if}}">
                        Baking Categories 
                        {{#if errors.category}}<span class="icon-arrow-37 pull-right"></span>{{/if}}
                    </div>
                    <div id="category-checkbox" class="text-right">

                        {{#each categories}}

                            <label for="{{this.category}}">{{this.category}}</label>
                            <input type="checkbox" name="category[]" value="{{this._id}}"></br>

                        {{/each}}

                    </div>
                </div>
            </aside>
        </form>
    </div>
</div>
