<div class="col-sm-9">

    {{#each foundPosts}}

        <article class="row panel panel-default">
            <div class="col-sm-12">
                <h2 class="panel-heading">{{this.title}}</h2>
                <div class="panel-body">
                    <p class="small pull-right">{{this.created}}</p>

                    {{#if this.primaryPhoto}}
                        <img class="img-responsive" src="/assets/images/{{this.primaryPhoto}}">
                    {{/if}}
                    
                    <p>{{this.body}}</p>
            
                    <div>
                        <a href="/view-post/{{this._id}}" class="btn btn-primary">Read More >></a>
                    </div>
                </div>
            </div>
        </article>

    {{/each}}

    <ul class="pagination text-center row">

        {{#times pages}}
            <li><a href="/?p={{this}}">{{this}}</a></li>
        {{/times}}
        
    </ul>

</div>