<section class="col-sm-8 col-md-9 section-recipe-index">
    
    <div class="jumbotron row">
        <h2>Categories</h2>
    </div>  

        {{#each foundPosts}}
            <article class="category-block">
                <div class="row">

                    <h3 class="col-sm-12">{{this.category}}</h3>
    
                    {{#each this.postsCropped}}
                        <div class="col-sm-3 category-block__inner-section">
                            <a href="/view-post/{{this._id}}" class="col-sm-12 ">
                                {{#if this.primaryPhoto}}
                                    <img class="img-responsive img-thumbnail " src="/assets/images/{{this.primaryPhoto}}">
                                {{/if}}
                                <p>
                                    {{this.title}}
                                </p>
                            </a>
                        </div>
                    {{/each}}

                    <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0 category-block__inner-section category-block__inner-section--last-child">
                        <a href="/recipe-index/{{this._id}}">
                            <h4>More</h4>
                        </a>
                    </div>
                </div>
            </article>
        {{/each}}

</section>