<section class="col-sm-8 col-md-9 section__recipe-index">

        {{#each foundPosts}}
            <article class="article">
                <div class="row">

                    <h3 class="col-sm-12">{{this.category}}</h3>
    
                    {{#each this.postsCropped}}
                        <div class="col-sm-3 article__category-col">
                            <a href="/view-post/{{this._id}}" class="col-sm-12 ">
                                {{#if this.primaryPhoto}}
                                    <img class="img-responsive img-thumbnail " src="/assets/images/{{this.primaryPhoto}}">
                                {{/if}}
                                <p>
                                    {{this.title}}
                                </p>
                            </a>
                        </div>
                    {{/each}}

                    <div class="col-sm-3 article__category-col article__category-col--last-child">
                        <a href="/recipe-index/{{this._id}}">
                            <h4>More</h4>
                        </a>
                    </div>
                </div>
            </article>
        {{/each}}

        <ul class="pagination text-center">

        {{#times pages}}
            <li><a href="/recipe-index/page?p={{this}}">{{this}}</a></li>
        {{/times}}
        
        </ul>

</section>