<div class="col-sm-8">

    {{#each foundPosts}}

        <article>
            <p class="small">{{this.created}}</p>
            <h3>{{this.title}}</h3>
            <p>{{this.body}}</p>
            <div>
                <a href="/view-post/{{this._id}}" class="btn btn-primary">Read More >></a>
            </div>
        </article>

    {{/each}}

        <ul class="pagination text-center">

        {{#times pages}}
            <li><a href="/recipe-index/page?p={{this}}">{{this}}</a></li>
        {{/times}}
        
        </ul>

</div>