<div class="col-sm-8 col-md-9 section-search-results">

        {{#if results}}

            <div id="search-results-carousel" class="carousel slide col-sm-12" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <div class="item active" role="listbox">                 
                        <img class="" src="/assets/images/cake-img2.jpg">
                    </div>

                {{#each results}}

                    {{#if this.primaryPhoto}}

                        <div class="item" role="listbox">
                            <a href="/view-post/{{this._id}}">                 
                                <img class="" src="/assets/images/{{this.primaryPhoto}}">
                            </a>
                        </div>

                    {{/if}}

                {{/each}}

                </div>
            </div>

        {{/if}}


      {{#if errMsg}}

            <div class="panel panel-danger">
                <h3 class="panel-body">{{ errMsg }}</h3>
            </div>

            {{else}}

            <div class="jumbotron col-sm-12">
                <h2> {{searchText}} </h2>
                <h4>Results: {{searchAmount}} </h4>
            </div>
        {{/if}}


        {{#if results}}
            <ul class="list-unstyled search-results-ul col-md-12">

            {{#each results}}

                <li>
                    <a href="/view-post/{{this._id}}">
                        {{this.title}}
                    </a>
                </li>

            {{/each}}
            </ul>
        {{/if}}

</div>