<div class="col-sm-12">
    <article>
        <p class="small">{{foundPost.created}}</p> 
        <h2>{{ foundPost.title }}</h2>

        {{#if foundPost.primaryPhoto}}
            <img class="img-responsive" src="/assets/images/{{foundPost.primaryPhoto}}">
        {{/if}}

        <p>{{ foundPost.body }}</p>

        {{#if foundPost.secondaryPhoto}}
            <div class="col-sm-3">
                <img class="img-responsive" src="/assets/images/{{foundPost.secondaryPhoto}}">
            </div>
        {{/if}}

        {{#if foundPost.ingredientList}}
        <h3>Ingredients</h3>
            <div>
                {{#each foundPost.ingredientList}}
                    <ul>
                        <li>
                            <p style="display: inline-block">{{this.name}}</p>
                            <p style="display: inline-block">{{this.quantity}}</p>
                            <p style="display: inline-block">{{this.unit}}</p></li>
                    </ul>
                {{/each}}
            </div>
        {{/if}}

        {{#if foundPost.instructions}}
            <h3>Instructions</h3>
            <div>
                <ol>
                    {{#each foundPost.instructions}}
                        <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>
        {{/if}}

    </article>
</div>