<main class="container">
    <section class="row">
        <div class="col-sm-12">
            <h1 class="jumbotron">
                {{ pageTitle }}   
            </h1>
            <h3>
                {{ subTitle }}
            </h3>
            <!--{{#if prefill}}
                <h3>
                    {{prefill.title}}
                </h3>
            {{/if}}-->
        </div>

        {{#if hasCreateBtn}}
            <div class="col-sm-12">
                <a href="/post-editor/createPost" class="btn btn-default">
                    <h3>Create Recipe <span class="icon-edit-3"></span></h3>
                </a>
            </div>
        {{/if}}
        
    </section>
    <section class="row">

        {{#if success }}
            <div class="alert alert-success">
                <strong>Success!</strong><p>Created Post: {{ alertMsg }}</p>
            </div>
        {{/if}}

        {{#if update }}
            <div class="alert alert-info">
                <strong>Updated!</strong><p>Alterted Post: {{ alertMsg }}</p>
            </div>
        {{/if}}

        {{#if delete }}
            <div class="alert alert-danger">
                <strong>Deleted!</strong><p>Removed Post: {{ alertMsg }}</p>
            </div>
        {{/if}}

    </section>
    <section class="row col-sm-12">

        {{#if hasForm }}
            {{> form }}
        {{/if}}
    
    </section>
    <section class="row col-sm-9">

        {{#if hasingredientList }}
            {{> ingreForm }}
        {{/if}}
    
    </section>
    <section class="row">

        {{#if hasViewPost }}
            {{> adminViewPost }}
        {{/if}}

    </section>
    <section class="row">
        
        {{#if hasViewCategory}}
            {{> adminViewCategory}}
        {{/if}}

    </section>
    <section class="row">

        {{#if hasAllPosts }}
            {{> adminRecipeIndex }}
        {{/if}}

        {{#if hasPrefilledForm }}
            {{> formPrefilled }}
        {{/if}}

    </section>
    <section class="row">

        {{#if hasLogin}}
            {{> loginForm }}
        {{/if}}

    </section>
</main>